.todo {
  padding: 1rem 0.5rem;
  margin-bottom: 1.2rem;
  background-color: #373b42;
  /* background-color: #323841; */
  box-shadow: 1px 1px 1px rgb(35, 35, 35);
  transition: 0.7s;
  cursor: grabbing;
}

.todo:hover {
  box-shadow: 5px 5px 20px rgb(35, 35, 35);
}

.completed {
  padding: 1rem 0.5rem;
  margin-bottom: 1.2rem;
  background-color: #373b42;
  background-color: #3e4651;
  cursor: grabbing;
}

.completed, .title .date {
  opacity: .6;
  text-decoration: line-through;
}

.container {
  display: flex;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 1.1rem;
  font-weight: 500;
}
.control_actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icons_todo {
  font-size: 1.7rem;
  color: #eb2d86;
  opacity: 0.8;
  transition: 0.2s;
}
.icons_todo:hover {
  opacity: 1;
}

.date {
  font-size: 0.8rem;
  font-weight: 400;
  color: #eb2d86;
}
