.app {
  margin: 5rem auto;
  max-width: 600px;
  height: 200px;
}

h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

.container_app {
  background-color: #39404a;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px;
}

@media (width < 600px) {
  .app {
    padding: 0.7rem;
  }

  .container_app {
    padding: 1.5rem 1rem;
  }
}
