* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #eb2d86;
}

input,
select,
button {
  color: #d3d3d3;
  padding: 1rem;
  background-color: #262a31;
  border: 0;
  font-weight: 600;
}

input,
select {
  font-size: 1rem;
  outline: none;
}

button {
  font-weight: bold;
  color: white;
  background-color: transparent;
  padding: 0;
  margin: 0;  
  cursor: pointer;
}

ul {
  list-style: none;
  color: #d3d3d3;
}
